nav {background-color: antiquewhite;}
nav a {color: #7E9739;}
nav a:hover {background-color: #9D571B;}
nav {
    padding: 10px;
}
nav {margin-bottom: 30px}
body {background-color: beige;}

img a {max-width: 100%; width: 100%;flex-wrap:wrap;}

@media only screen and (max-width: 600px){
        nav a {width: 100%; display: block; padding: 5px;}
        span {display: none;}
}

/* Part index format */
.sentence {float: right;}
.introduction {padding: 15px; margin: 1px;}
.me {max-width: 100%;}

/* Picture format */
.me {width: 500px;
margin-left: 20px;}

/* Part 1 format */
.clear {clear: both;}
.logo {width: 90px;}
.info {float:left;}
.basiccontact{background-color:aliceblue; border-radius: 1em; margin: 15px;padding: 15px;}

.info {margin: 10px;}

/* Part 2 format */
.contactinfo {display: flex;}
.contactme {flex-basis: 40%; order: 1;}
.map {flex-basis: 60%; order: 2;}
.contactinfo {background-color:aliceblue; border-radius: 1em; margin:15px;padding: 35px 25px 35px 25px;}
/* Part 1 & 2 format */
.basiccontact  {margin-top: 60px;}

.introduction {font-size: 1em;}
.basiccontact{font-size: 1em;}
,.contactme {font-size: 1em;}
