.interviewfull, .interviewintro, .interviewcopy, .contactme {margin-right: 300px;
    margin-left:300px;}
h1 {margin-right: 30px;
    margin-left:30px;
    font-family: 'Noto Serif', serif;}
img a {max-width: 100%;} 
.generalpic { width: 700px ;margin-left: 300px; margin-right: 300px;}


.food {
    margin-right: 200px;
    
    width: 650px;
}


.interviewintro {background-color:#D5D5D5; border-radius: 1em; margin-right: 250px;
    margin-left: 250px;padding-top: 3px; padding-bottom: 3px; padding-left: 10px; padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;}


.interviewfull {font-size: 18px;
}

.contactme {background-color:#D5D5D5; border-radius: 1em; margin-right: 200px;
    margin-left: 200px;padding-top: 3px; padding-bottom: 10px; padding-left: 10px; padding-left: 10px;
    }

body {background-color: #F6F6F6;}

nav { 
    font-size: 17px;
    text-align: center;
    background-color: black;
    padding: 5px; 
    
    
    
    }
nav a { font-style:inherit; 
    color: white; background-color: black;padding: 5px; }
nav a:hover {background-color:white; color: black}




@media only screen and (max-width: 600px){
    nav a {width: 100%; display: block; padding: 5px; float: left;}
    .interviewfull, .interviewintro, .interviewcopy, .contactme {margin-right: 20px;
        margin-left:20px;}
    span {display: none;}
}