nav {background-color: antiquewhite;}
nav a {color: #7E9739;}
nav a:hover {background-color: #9D571B;}
nav {
    padding: 10px;
}
nav {margin-bottom: 30px}
body {background-color: beige;}

/* Part index format */
.sentence {float: right;}
.introduction {padding: 15px; margin: 1px;}

/* Picture format */
.picture {width: 400px;
    padding: 20px 20px 20px 20px ;
}

/* Part 1 format */
.clear {clear: both;}
.logo {width: 90px;}
.info {float:left;}
.part1{background-color:aliceblue; border-radius: 1em; margin: 15px;padding: 15px;}

.info {margin: 10px;}

/* Part 2 format */
footer {display: flex;}
.contact {flex-basis: 40%; order: 1;}
.map {flex-basis: 60%; order: 2;}
.contactinfo{background-color:aliceblue; border-radius: 1em; margin:15px;padding: 35px 25px 35px 25px;}

/* Part 1 & 2 format */
.part1 .part2 {margin-top: 60px;}

